<%= form_for [@project, @ticket], :html => { :multipart => true } do |f| %>
  
  <%= javascript_tag do %>
  $(document).ready(function(){
  
    if(!$("#ticket_attach").is(':checked') ) {
      $("#attachment-form").hide();
    }
  
    $("#ticket_attach").click(function(){
          if(this.checked) {
            $("#attachment-form").show();
          } else {
            $("#attachment-form").hide();
          }
    });
  });

  <% end %>
  
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ticket.errors.count, "error") %>
      </h2>
      <ul>
        <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.label :priority %><br>
    <%= f.number_field :priority %>
  </p>
  
  <p>
    <%= f.label :estimation %><br>
    <%= f.number_field :estimation %>
  </p>
  
  <p>
    
    <label>
    <%= f.check_box :attach %>
    Attach image
    </label>
    
    <div id="attachment-form" style="padding:5px; border:1px #CCCCCC dashed">
      <p>
        <%= f.label :attachment_name %><br>
        <%= f.text_field :attachment_name %>
      </p>
      <p>
        <%= f.file_field :attachment %>
      </p>
    </div>
  </p>
  


  <p>
    <%= f.select :status, options_for_select(@statuses.map {|k, v| [k, k]}) %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
  
<% end %>