<% def display_ticekt(ticket) %>
    <% if ticket.reported==false %>
            <tr data-href= <%= project_ticket_path(:id => ticket.id, :project_id => ticket.project) %>>
    <% else %>
            <tr data-href= <%= project_ticket_path(:id => ticket.id, :project_id => ticket.project) %>>
    <% end %>
            <td style="width:20%;">
                <%= ticket.project.name %>
            </td>
            <td style="width:20%;">
                <%= ticket.title %>
            </td>
            <td style="width:60%;">
                <%= ticket.description %>
            </td>

        </tr>
<% end %>


<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    
   
<% @tickets.select { |t| t.reported==false }.each do |ticket| %>
    <% display_ticekt(ticket) %>
<% end %>

<% @tickets.select { |t| t.reported==true and t.status=="open" }.each do |ticket| %>
    <% display_ticekt(ticket) %>
<% end %>

<% @tickets.select { |t|  t.reported==true and t.status=="closed" }.each do |ticket| %>
    <% display_ticekt(ticket) %>
<% end %>


</table>

  
<%= javascript_tag do %>
      
    $(function(){
        $('.table tr[data-href]').each(function(){
            $(this).css('cursor','pointer').hover(
                function(){ 
                    $(this).addClass('active'); 
                },  
                function(){ 
                    $(this).removeClass('active'); 
                }).click( function(){ 
                    document.location = $(this).attr('data-href'); 
                }
            );
        });
    });

<% end %>

