<div class="table-responsive">
  <table class="table table-hover">
    
    <thead>
      <tr>
        <th>Project name</th>
        <th>Description</th>
      </tr>
    </thead>
   
    <tbody>
      <% @projects.each do |project| %>
        <tr data-href= <%= project_path(project) %>>
          
          <td style="width:12%"><%= project.name %></td>
          <td><%= project.description %></td>
        </tr>
      <% end %>
    </tbody>
    
    
  </table>
</div>


<div style="text-align: left;"><%= will_paginate @posts, renderer: BootstrapPagination::Rails, class: 'pagination-sm' %></div>

<p>
    <%= link_to 'New project', new_project_path, class: "btn btn-primary", role: "button" %>
</p>



<%= javascript_tag do %>
      
    $(function(){
        $('.table tr[data-href]').each(function(){
            $(this).css('cursor','pointer').hover(
                function(){ 
                    $(this).addClass('active'); 
                },  
                function(){ 
                    $(this).removeClass('active'); 
                }).click( function(){ 
                    document.location = $(this).attr('data-href'); 
                }
            );
        });
    });

<% end %>