<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Developers:</strong>
  <% @project.users.each do |u| %>
    <p>
      <%= u.get_description %>
      <% if u.email==@project.owner.email %>
      <strong>(Project owner)</strong>
      <% end %>
    <p>
  <% end %>
  

</p>


<p>
  <%= link_to 'Create new developer account', action: 'new_associate' %>
</p>

<p>
  <%= link_to 'Tickets', [@project, :tickets]  %>
</p>

<p>
  <%= link_to 'Edit', edit_project_path(@project) %>
</p>

<p>
  <%= link_to 'Back', projects_path %>
</p>